@model IEnumerable<questvault.Models.Jogos>

@{
    ViewData["Title"] = "Index";
}


@{
    ViewBag.Title = ViewBag.Titulo;
}
<h1>Index</h1>

<form asp-action="Index" method="post">
    <input name="searchTerm" placeholder="jogos" />
    <button type="submit" value="Index">Search</button>
</form>



<h2>@ViewBag.Titulo</h2>

@if (ViewBag.Jogos != null && ViewBag.Jogos.Count > 0)
{
    <p>Detalhes dos Jogos:</p>
    <ul>
        @foreach (var jogo in ViewBag.Jogos)
        {
            <li>
                <strong>ID:</strong> @jogo.JogoId,
                <strong>Nome:</strong> @jogo.Nome,
                <strong>Gênero:</strong> @jogo.Genero
            </li>
        }
    </ul>
}
else
{
    <p>Não foram encontrados detalhes dos jogos.</p>
}