@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email Confirmation";
}

<body class="login-body">
    <div class="main-section-forgotp">
        <h1 class="h1-forgotp">@ViewData["Title"]</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <p class="p-forgotp2">Thank you for confirming you email address</p>
    </div>
</body>