@page
@model ForgotPasswordModel
@{
  ViewData["Title"] = "Password Reset";
}

<body class="login-body">
<div class="main-section-forgotp">
    <h1 class="h1-forgotp">@ViewData["Title"]</h1>
    <p class="p-forgotp">Enter your account's email so we can send instructions on how to reset your password.</p>

    <div class="row-forgotp">
        <div class="col-sm-5-forgotp">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating-forgotp mb-3">
                    <input asp-for="Input.Email" class="form-control-forgotp" autocomplete="username" aria-required="true" placeholder="Email"/>
                        <div class="danger-login">
                        <p style= "margin-bottom:0px;"><span asp-validation-for="Input.Email" class="text-danger-login"></span></p>
                        </div>
                </div>
                    <button type="submit" class="btn-forgotp btn-primary submit" style="">Send reset instructions</button>
            </form>
        </div>
    </div>
</div>
</body>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
