@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}


<body class="login-body">
        <div class="main-section-forgotp" style="width:800px">
            <header>
                <h1 class="text-danger">@ViewData["Title"]</h1>
                <p class="text-danger" style="margin-bottom: 0px">This account has been locked out, please try again later.</p>
            </header>   
    </div>
</body>