@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Email Confirmed";
}

<body class="login-body">
    <div class="main-section-forgotp">
        <h1 class="h1-forgotp">@ViewData["Title"]</h1>
        <p class="p-forgotp2">Your email has been confirmed, login <a class="a-login" style="font-size:100%" asp-page="./Login">here</a>.</p>
    </div>
</body>