@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Password Recovery";
}

@* <h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>
 *@

<body class="login-body">
    <div class="main-section-forgotp">
            <h1 class="h1-forgotp">@ViewData["Title"]</h1>
            <p class="p-forgotp">Enter and confirm your account's new password</p>
            <div class="row-forgotp">
                <div class="col-sm-5-forgotp">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating-forgotp mb-3">
                            <input asp-for="Input.Password" class="form-control-forgotp" autocomplete="new-password" aria-required="true" placeholder="New password" />
                        <p><span asp-validation-for="Input.Password" class="text-danger-login"></span></p>
                        </div>
                        <div class="form-floating-forgotp mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control-forgotp" autocomplete="new-password" aria-required="true" placeholder="Confirm new password" />
                        <p><span asp-validation-for="Input.ConfirmPassword" class="text-danger-login"></span></p><
                        </div>
                        <button type="submit" class="btn-forgotp">Confirm Changes</button>
                    </form>
                </div>
            </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
