@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Password Recovery";
}

<body class="login-body">
    <div class="main-section-forgotp">
        <h1 class="h1-forgotp">@ViewData["Title"]</h1>
        <p class="p-forgotp2">Password has been reset, to login click <a class="a-login" style="font-size:100%" asp-page="./Login">here</a>.</p>
    </div>
</body>
