@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<body class="login-body">

    <!-- <h1>Manage your account</h1>-->

    <div class="ms-5">
        <h2 class="text-light">Settings</h2>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-7">
                @RenderBody()
            </div>
        </div>
    </div>
</body>



@section Scripts {
    @RenderSection("Scripts", required: false)
}
