@page
@model Enable2faModel
@{
    ViewData["Title"] = "Enable two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    ViewData["help_Text"] = @"
      This page allows you to Activate your 2 Factor Authentication!<br/>
      Dont know that it means?<br/>
      Its simple! Now if you enable it you will need a code from your email<br/>
      to get access into your account, that way your account is allways protected!";
}

<partial name="_StatusMessage" for="StatusMessage" />
<body class="login-body">
    <div style="margin-top:300px" class="main-section-2fa">
        <h3 class="h3-2fa">@ViewData["Title"]</h3>
        <div>
            <p class="p-forgotp" style="margin-top:20px">Are you sure you want to change the two factor authentication to enabled?</p>
            <div class="2fa-buttons">
                <div class="action_btn">
                    <form method="post">
                        <button class="btn-2fa btn-primary submit" type="submit">Enable 2FA</button>
                    </form>
            
                    

                    <a href="/Identity/Account/Manage/Index" class="btn btn-danger btn-danger-2fa">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</body>