@page
@model IndexModel
@{
  ViewData["Title"] = "My Account";
  ViewData["ActivePage"] = ManageNavPages.Index;
  ViewData["help_Text"] = @"
       This is your MyAccount page! <br/>
       In this page you can personalize your profile however you want, <br/>
       in the main section you can change your Usarname and password.<br/>
       On the right side theres a section for 2 Factor Authentication, <br/>
       Privacy setting and Disabiling your account if thats what you want!";
  var top5 = ViewData["Top5"] as List<GameLog>;
}

@{
  var userAvatar = ViewData["UserAvatar"] as string;
}

<div class="main-section">
  <div class="main-section-title container d-flex justify-content-between align-items-end m-0">
    <h3>@ViewData["Title"]</h3>
  </div>
  <hr class="bar">
  <partial style="width:90%" name="_StatusMessage" for="StatusMessage" />
  <div class="container-fluid m-0">
    <div class="row align-items-baseline ps-4">
      <div class="row">
        <h4 style="padding-left: 16rem; margin-bottom: 2rem;" class="text-light d-flex">Account Details</h4>
        <div asp-validation-summary="ModelOnly" class="error-box d-flex" role="alert"></div>
      </div>

        <div class="col-2 d-block justify-content-center">
      <div style="margin-bottom: 2rem" class="user-foto justify-content-center">
                @if (!string.IsNullOrEmpty(userAvatar))
                {
                    <img style="height:125px;width:130px; background-size: cover;border-radius: 50%; margin: -6px;" src="~/img/usr_profile/@userAvatar" alt="User">
                } else
                {
                    <img style="height:80px;width:80px;margin-left: 13%;margin-top: 13%; background-size: cover;border-radius: 50%;" src="~/img/usr_profile/user.svg" alt="User">
                }
            </div>
      <button type="button" style="margin:auto" class="btn-primary btn-purple" data-bs-toggle="modal" data-bs-target="#avatarModal">Change Avatar</button>
            @*Modal form start*@
    <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="avatarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="avatarModalLabel">Change Avatar</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="avatarForm" method="post" enctype="multipart/form-data" asp-page-handler="Avatar">
        <div class="modal-body">
          <div class="form-group">
            <label for="avatarInput">Select Avatar:</label>
            <input asp-for="ProfilePhoto" type="file" class="form-control-file" id="avatarInput" name="ProfilePhoto" accept="image/png, image/jpeg" required>
            <small class="form-text text-muted">Max file size: 5MB</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
            @*modal form end*@
    </div>

   @*  <div class="col-4"> *@
      <div class="col-8">
        <form id="change-profile-form" method="post" asp-page-handler="Profile">
          <div class="row">
            <div class="col-6">
              @* <form id="change-username-form" method="post" asp-page-handler="UserName"> *@
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label text-light">Email</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control-login" disabled placeholder=@Model.Email>
                </div>
              </div>
              <div class="row mb-3">
                <label asp-for="Input.NewUserName" class="col-sm-4 col-form-label text-light">Username</label>
                <div class="col-sm-8">
                  <input asp-for="Input.NewUserName" type="text" class="form-control-login" autocomplete="off" id="inputName" placeholder="@User.Identity?.Name">
                  <div style="height:1px">
                    <span asp-validation-for="Input.NewUserName" class="text-danger-login-2"></span>
                  </div>
                </div>
              </div>
              @* </form> *@
            </div>
            <div class="col-6">
              @* <form id="change-password-form" method="post" asp-page-handler="Password"> *@
              <div class="row mb-3">
                <label asp-for="Input.OldPassword" class="col-sm-4 col-form-label text-light">Current password</label>
                <div class="col-sm-8">
                  <input asp-for="Input.OldPassword" type="password" class="form-control-login" autocomplete="off" aria-required="true" placeholder="Insert current password" />
                  <div style="height:1px">
                    <span asp-validation-for="Input.OldPassword" class="text-danger-login-2"></span>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label asp-for="Input.NewPassword" class=" col-sm-4 col-form-label text-light">New password</label>
                <div class="col-sm-8">
                  <input asp-for="Input.NewPassword" autocomplete="new-password" aria-required="true" type="password" class="form-control-login" placeholder="Insert new password">
                  <div style="height:1px">
                    <span asp-validation-for="Input.NewPassword" class="text-danger-login-2"></span>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <label asp-for="Input.ConfirmPassword" class="col-sm-4 col-form-label text-light">Confirm new password</label>
                <div class="col-sm-8">
                  <input asp-for="Input.ConfirmPassword" class="form-control-login" autocomplete="new-password" aria-required="true" placeholder="Confirm new password">
                  <div style="height:1px">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger-login-2"></span>
                  </div>
                </div>
              </div>
              @* </form> *@
              <button style="float: right; margin-right: 6rem; margin-top: -1.5rem" type="submit" class="btn-blue">Save Changes</button>
            </div>
          </div>
        </form>

      </div>
        <div class="col-2">
          <form>
            <div class="form-check form-switch row">
              @if (Model.Is2faEnabled)
              {
                <button asp-page="./Disable2fa" style="margin-right: 15%; margin-bottom: 30px;text-decoration: none;" class="btn-purple submit">Disable 2FA</button>
              }
              else
              {
                <button asp-page="./Enable2fa" style="margin-right: 15%; margin-bottom: 30px" class="btn-blue-big submit">Enable 2FA</button>
              }
            </div>
            <div class="form-check form-switch row">
              <button asp-page="./TooglePrivacy" style=" margin-right: 15%; margin-bottom: 30px" class="btn-blue-big submit">Change Privacy</button>
            </div>
            <div class="form-check form-switch row mb-3">
              <a asp-page="./DeactivateAccount" style="float: left; margin-right: 15%; margin-bottom: 30px;text-decoration: none;" class="btn-purple submit">Deactivate Account</a>
            </div>
          </form>
        </div>
    </div>

    <div class="row container-fluid mt-4">
      <div class="col-8">
        <partial name="_Top5" for="@ViewData["Top5"] as List<GameLog>" />
      </div>
      <div class="col-4">
        <h4 style="float:right" class="text-light mb-4">Connections</h4>
        <table class="table table-sm table-borderless table-profile">
          <tr>
            <th><img class="img-size-sm" src="/img/external/Steam_Logo.png" alt="Steam" /></th>
            <th style="width: 185px;"><button style="width:170px" class="btn-blue">Connect to Steam</button></th>
          </tr>
          <tr>
            <th><img class="img-size-sm" src="/img/external/Epic_Games_logo.png" alt="Epic" /></th>
            <th style="width: 185px;"><button style="width:170px" class="btn-blue">Connect to Epic</button></th>
          </tr>
          <tr>
            <th><img class="img-size-sm" src="/img/external/xbox-logo.png" alt="Xbox" /></th>
            <th style="width: 185px;"><button style="width:170px" class="btn-blue">Connect to Xbox</button></th>
          </tr>
          <tr>
            <th><img style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(108%) contrast(101%);" class="img-size-sm" style src="/img/vector/file-csv-solid.svg" alt="CSV" /></th>
            <th style="width: 185px;"><button style="width:170px; margin-bottom: 90px " class="btn-blue">Import .csv file</button></th>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>
@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
