@page
@model IndexModel
@{
    ViewData["Title"] = "#MyAccount";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3 class="text-light title">@ViewData["Title"]</h3>
<hr class="bar">
<!--<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <button id="update-profile-button" type="submit" class=" btn btn-lg btn-primary">Se</button>
        </form>
    </div>
</div>-->
<div class="container" style="margin-top: 100px">
    <div class="row align-items-center">
        <div class="col-2 d-block justify-content-evenly">
            <div class="user-foto justify-content-center">
                <img style="height:80px;width:80px;background-position: 50% 50%;background-size: cover;border-radius: 50%;" src="\img\vector\user.svg" alt="User">
            </div>
            <button style="margin-top:.2rem" class="btn-primary nav-btn-2">Change Avatar</button>
        </div>

        <div class="col-4">
            <h4 class="text-light">Account Details</h4>
            <form>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label text-light">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control-login" id="inputEmail3" disabled placeholder=@User.Identity?.Name>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPassword3" class="col-sm-2 col-form-label text-light">Username</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control-login" id="inputPassword3">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label text-light">Country</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control-login" id="inputEmail3">
                    </div>
                </div>
            </form>
        </div>

        <div class="col-4"></div>

        <div class="col-2"></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
