@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<body class="login-body">
    <div class="main-section-forgotp">
    <h1 class="h1-forgotp">Set your password</h1>
    <partial name="_StatusMessage" for="StatusMessage" />
        <p class="p-forgotp">Enter and confirm your account's new password</p>
    <div class="row-forgotp">
        <div class="col-sm-5-forgotp">
            <form id="set-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger-login" style="text-align: center" role="alert"></div>
                <div class="form-floating-forgotp mb-3">
                    <input asp-for="Input.NewPassword" class="form-control-forgotp" autocomplete="new-password" placeholder="Please enter your new password." />
                    <div class="danger-login">
                        <p style="margin-bottom:0px"><span asp-validation-for="Input.NewPassword" class="text-danger-login"></span></p>
                    </div>
                </div>
                <div class="form-floating-forgotp mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control-forgotp" autocomplete="new-password" placeholder="Please confirm your new password." />
                    
                    <div class="danger-login">
                        <p style="margin-bottom:0px"><span asp-validation-for="Input.ConfirmPassword" class="text-danger-login"></span></p>
                    </div>
                </div>
                <button type="submit" class="btn-forgotp">Set password</button>
            </form>
        </div>
    </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
