@page
@model TogglePrivacyModel
@{
    ViewData["Title"] = "Change Privacy";
    ViewData["help_Text"] = @"
      This page allows you to Deactivate your 2 Factor Authentication!<br/>
      Dont know that it means?<br/>
      Its simple! Now if you disable it you wont need a code from your email<br/>
      to get access into your account anymore!<br/>
      <strong>We advice againts it, your account should be as protected as it can be!</strong>";
}

<partial name="_StatusMessage" for="StatusMessage" />
<body class="login-body">
    <div style="margin-top:300px" class="main-section-2fa">
        <h3 class="h3-2fa">@ViewData["Title"]</h3>
        <div>
            <p class="p-forgotp" style="margin-top:20px">Are you sure you want to change the Privacy of your account?</p>
            <div class="2fa-buttons">
                <div class="action_btn">
                    <form method="post">
                        <button class="btn-purple submit" type="submit">Change Privacy</button>
                    </form>

                    <a href="/Identity/Account/Manage/Index" class="btn btn-danger btn-danger-2fa">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</body>
