@{
    ViewData["Title"] = "Statistics";
    ViewData["help_Text"] = @"In the Statistics page you can see the numbers behind the app!";
}

<div>
    <h1 class="friends-page">Registered Accounts: @Model</h1>
</div>