  <div class="main-section mt-5">
    <form>
      <fieldset>
        <h1>Sign up</h1>
        <div class="row">
          <div class="col-sm-5">
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <input type="text" class="form-control" id="username" placeholder="Username">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5">
            <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off">
          </div>
        </div>
        <div class="row" style="padding-bottom:10%">
          <div class="col-sm-5">
            <input type="password" class="form-control" id="passwordconfirm" placeholder="Confirm password" autocomplete="off">
          </div>
        </div>
        <div class=" row" style="padding-bottom:10%">
          <div class="col-sm-5">
            <p>ReCaptcha Placeholder</p>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
        <p>Already have an account? <a [routerLink]="['/']" style="font-size:100%;">Log in</a></p>
      </fieldset>
    </form>
  </div>
