@{
    ViewData["Title"] = "Dashboard";
    ViewData["help_Text"] = @"
       In the Games page you can find a selection of games,<br/> 
       this being the most popular or if you searched a especific<br/>
       name the games matching what you search will show in here!<br/>
       You can go further and search a game and then filter in: <br/>
       <ul>
          <li>Category</li>
          <li>Rating</li>
          <li>Year</li>
          <li>Platform</li>
        </ul>
       And search for the game you really want!";
}


<div class="container-fluid">
    <div class="col-8" style="float:left">
        <h2 style="color:white; margin-left:38px">My Feed</h2>
        <hr class="bar" style="margin-bottom: 0px;"/>
        <div class="row" style="margin-bottom: 180px">
            <div class="dash-card">
                <p class="dash-text">Jogo X ~ Foi atualizado recentemente </p>
                <button class="game-button-sm" style="margin-top:12px; width: 120px; height: 170px; float:right;">
                    <img src="/img/gta.png">
                </button>
            </div>
             <div class="dash-card">
                <p class="dash-text">Jogo X ~ Foi atualizado recentemente </p>
                <button class="game-button-sm" style="margin-top:12px; width: 120px; height: 170px; float:right;">
                    <img src="/img/granturismo.png">
                </button>
            </div>
            <div class="dash-card">
                <p class="dash-text">Jogo X ~ Foi atualizado recentemente </p>
                <button class="game-button-sm" style="margin-top:12px; width: 120px; height: 170px; float:right;">
                    <img src="/img/granturismo.png">
                </button>
            </div>
            <div class="dash-card">
                <p class="dash-text">Jogo X ~ Foi atualizado recentemente </p>
                <button class="game-button-sm" style="margin-top:12px; width: 120px; height: 170px; float:right;">
                    <img src="/img/granturismo.png">
                </button>
            </div>
            <div class="dash-card">
                <p class="dash-text">Jogo X ~ Foi atualizado recentemente </p>
                <button class="game-button-sm" style="margin-top:12px; width: 120px; height: 170px; float:right;">
                    <img src="/img/granturismo.png">
                </button>
            </div>
            <div class="dash-card">
                <p class="dash-text">Jogo X ~ Foi atualizado recentemente </p>
                <button class="game-button-sm" style="margin-top:12px; width: 120px; height: 170px; float:right;">
                    <img src="/img/granturismo.png">
                </button>
            </div>
            
        </div>
    </div>
    <div class="col-3" style="float:right">
        <div class="row stats-dash">
            <div class="stats-dash-text">
                <h2 style="color:white; margin-right: 40px;">0 hours playing</h2>
                <p style="color:white; margin-right: 40px;">0 games</p>
            </div>
        </div>
    </div>
</div>
    
    
    
   