@{
    ViewData["Title"] = "Game";
}

<section class="game-details">

    <div class="d-flex main-section justify-content-evenly">
        <img class="game-cover image-fluid" src="../img/gta.png" />
        <div class="container-fluid ms-3">
            <h2 class="game-title m-auto">Game Name</h2>
            <div class="container align-content-end d-flex">
                <div class="game-filters me-5">
                    <p>Add Game</p>
                </div>
                <div class="game-user-status">
                    <p>Game Status</p>
                </div>
            </div>
        </div>
        <div class="game-score container-fluid align-items-end align-content-end">
            <h3>User Score</h3>
            @* rating stars *@
            <p>4.0</p>
        </div>
        <div class="game-platforms"></div>
    </div>

    <hr class="bar">

    <div class="d-flex main-section">

        <div class="container-fluid justify-content-between">
            <div class="game-about align-top mb-5">
                <h3 class="align-content-start">Summary</h3>
                <p class="text-break text-wrap">Grand Theft Auto V is a vast open world game set in Los Santos, a sprawling sun-soaked metropolis struggling to stay afloat in an era of economic uncertainty and cheap reality TV. The game blends storytelling and gameplay in new ways as players repeatedly jump in and out of the lives of the game’s three lead characters, playing all sides of the game’s interwoven story.</p>
            </div>
            <div class="game-captures align-bottom">
                <h4>Screenshots</h4>
                <div class="card-group">
                    <div class="card me-2">
                        <img src="../img/test_gamecaptures/nsi3tc7jk2evyici425s.jpeg" class="card-img col-md-2" alt="...">
                    </div>
                    <div class="card me-2">
                        <img src="../img/test_gamecaptures/nsi3tc7jk2evyici425s.jpeg" class="card-img col-md-2" alt="...">
                    </div>
                    <div class="card">
                        <img src="../img/test_gamecaptures/nsi3tc7jk2evyici425s.jpeg" class="card-img col-md-2" alt="...">
                    </div>
                </div>

            </div>
        </div>
        <div class="game-review container-fluid">
            <h3>Your Review</h3>
            <div class="review-user-score"></div>
            <div class="review-user-publish">
                <form>
                    <textarea></textarea>
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>