@{
    ViewData["Title"] = "Game";
}

<div class="game-details">
    <div class="d-flex main-section">
        <img class="game-cover image-fluid" src="../img/gta.png" />
        <h2 class="game-title">Game Name</h2>
        <div class="game-filters"></div>
        <div class="game-user-status"></div>
        <div class="game-score">
            <h3>User Score</h3>
            @* rating stars *@
            <p>4.0</p>
        </div>
        <div class="game-platforms"></div>
    </div>
    <hr class="bar" style="margin-bottom: 25px; width: 100%;">
    <div>
        <div class="game-about">
            <h3>Summary</h3>
            <p>Grand Theft Auto V is a vast open world game set in Los Santos, a sprawling sun-soaked metropolis struggling to stay afloat in an era of economic uncertainty and cheap reality TV. The game blends storytelling and gameplay in new ways as players repeatedly jump in and out of the lives of the game’s three lead characters, playing all sides of the game’s interwoven story.</p>
        </div>
        <div class="game-captures">
            
        </div>
        <div class="game-review">
            <h3>Your Review</h3>
            <div class="review-user-score"></div>
            <div class="review-user-publish">
                <form>
                    <textarea></textarea>
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>