@{
    ViewData["Title"] = "Game";
}

<div class="game-details">

    <section class="d-flex main-section">
        <img class="game-cover image-fluid" src="../img/gta.png" />
        <div class="container-fluid ms-3 mt-3">
            <h2 class="game-title m-auto">Game Name</h2>
            <div class="container ps-0 mt-4">
                <div class="game-filters row me-5">
                    <div class="col-auto text-decoration-underline">Adventure</div>
                    <div class="col-auto text-decoration-underline">Action</div>
                    <div class="col-auto text-decoration-underline">RPG</div>
                </div>
                <div class="game-user-status align-content-end mt-5">
                    <div class="d-inline-flex">
                        <select #game (change)="onSelected(game.value)" class="select-results col-1 me-2" aria-label="Default select example">
                            <option selected>Add Game</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <select #status (change)="onSelected(status.value)" class="select-results col-1" aria-label="Default select example">
                            <option selected>Status</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="game-score container-fluid align-content-end mt-3">
                <h3>Game Score</h3>
                @* global rating stars *@
                <div class="rate">
                    @* <input type="radio" id="star5" name="user-rate" value="5" /> *@
                    <label for="star5" title="text">5 stars</label>
                    @* <input type="radio" id="star4" name="user-rate" value="4" /> *@
                    <label for="star4" title="text">4 stars</label>
                    @* <input type="radio" id="star3" name="user-rate" value="3" /> *@
                    <label for="star3" title="text">3 stars</label>
                    @* <input type="radio" id="star2" name="user-rate" value="2" /> *@
                    <label for="star2" title="text">2 stars</label>
                    @* <input type="radio" id="star1" name="user-rate" value="1" /> *@
                    <label for="star1" title="text">1 star</label>
                </div>
                <span>4.0</span>
            </div>
            <div class="game-platforms container-fluid mt-5">
                <p>Windows PC</p>
                <p>Playstation 4 | Playstation 3</p>
                <p>Xbox One | Xbox 360</p>
            </div>
        </div>

    </section>

    <hr class="bar">

    <section class="d-flex main-section">

        <div class="container-fluid justify-content-between">
            <div class="game-about align-top mb-5">
                <h4 class="align-content-start">Summary</h4>
                <p class="text-break text-wrap">Grand Theft Auto V is a vast open world game set in Los Santos, a sprawling sun-soaked metropolis struggling to stay afloat in an era of economic uncertainty and cheap reality TV. The game blends storytelling and gameplay in new ways as players repeatedly jump in and out of the lives of the game’s three lead characters, playing all sides of the game’s interwoven story.</p>
            </div>
            <div class="game-captures align-bottom">
                <h4>Screenshots</h4>
                <div class="card-group">
                    <div class="card me-2">
                        <img src="../img/test_gamecaptures/nsi3tc7jk2evyici425s.jpeg" class="card-img col-md-2" alt="...">
                    </div>
                    <div class="card me-2">
                        <img src="../img/test_gamecaptures/nsi3tc7jk2evyici425s.jpeg" class="card-img col-md-2" alt="...">
                    </div>
                    <div class="card">
                        <img src="../img/test_gamecaptures/nsi3tc7jk2evyici425s.jpeg" class="card-img col-md-2" alt="...">
                    </div>
                </div>

            </div>
        </div>
        <div class="game-review container-fluid">
            <h4>Your Review</h4>
            <div class="review-user-score">
                @* user rating stars *@
                <div class="rate">
                    <input type="radio" id="star5" name="user-rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="user-rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="user-rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="user-rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="user-rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>
                <span>4.0</span>
            </div>
            <div class="review-user-publish">
                <form>
                    <textarea></textarea>
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </section>
</div>

<script src="../wwwroot/js/starRating.js"></script>