@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 bg-image-full">
    <div class="container text-center my-5">
        <div class="row">
            <div class="col">
                <h1 class="fs-3 fw-bolder">Store your games on our vault, traveller.</h1>
            </div>
            <div class="col">
                <p class="mb-0">Landing Page Template</p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                1 of 2
            </div>
            <div class="col">
                2 of 2
            </div>
        </div>
        <div class="row">
            <div class="col">
                1 of 2
            </div>
            <div class="col">
                2 of 2
            </div>
        </div>
</section>