@model GameViewData
@using System.Linq
@{
    ViewData["Title"] = "Results";
    ViewData["help_Text"] = @"
       In the Results page you can find a selection of games,<br/>
       that you searched a especificly!<br/>";
}

@{
    var batchSize = 5; // Defina o tamanho do lote aqui
    var batches = Model.Games.Select((game, index) => new { Game = game, Index = index })
                       .GroupBy(x => x.Index / batchSize)
                       .Select(g => g.Select(x => x.Game));
}
@if (SignInManager.IsSignedIn(User))
{
    
<div class="results-game">
    <h2 style="color:white">Games</h2>
    <hr class="bar" style="margin-bottom: 25px; width: 100%;">
    <div class="d-flex main-section-result">
        <div class="game-section">
                <h3>@Model.NumberOfResults results for @Model.SearchTerm</h3> 
            @foreach (var batch in batches)
            {
                <div class="game-row">
                    @foreach (var game in batch)
                    {
                        <a class="game-button" asp-controller="Games" asp-action="Details" asp-route-id="@game.IgdbId">
                            <img src="@game.ImageUrl">
                        </a>
                    }
                </div>
            }
        </div>

    </div>


    </div>
}else
{
    <h1 style="color :red">Please log in to access this page.</h1>
}