@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
  <footer class="bg-body-tertiary fixed-bottom">
    <div class="p-4" style="background-color: #133E7C; color: white;">
      <div class="row">
        <div class="col-lg-4 mb-2 mb-md-0">
        </div>
        <div class="col-lg-4  mb-4 mb-md-0">
          <a style="font-size: 100%"> Copyright &#64; 2023-2024, QuestVault. All Rights Reserved.</a>
        </div>
        <div class="col-lg-4 mb-4 mb-md-0">
          <a [routerLink]="['/']" class="text-reset" style="margin-left: 55%; font-size: 100%">FAQs</a>
          <a [routerLink]="['/']" class="text-reset" style="margin-left: 8%; font-size: 100%">Contact Us</a>
        </div>
      </div>
    </div>
  </footer>
</div>