@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<nav class="navbar navbar-dark fixed-top navbar-expand-lg nav-main nav-bg">
    <div class="container-fluid">
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="nav-logo2" asp-controller="Home" asp-action="Index">
                <img src="\img\logo_icon.png" alt="QuestVault Logo" class="img-fluid">
            </a>
        } else {
            <a class="nav-logo" asp-controller="Home" asp-action="Index">
                <img src="\img\logo_questvault.png" alt="QuestVault Logo" class="img-fluid">
            </a>
        }
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-1 mb-lg-0">
            @if (SignInManager.IsSignedIn(User))
            {
                    <li class="align-self-center" style="padding-right: 15rem">
                        <form asp-controller="TesteIGDB" asp-action="SearchForm" method="post">
                        <div class="search-bar d-flex">
                             <input id="searchTerm" name="searchTerm" type="text" class="search-bar-text" placeholder="Search for games and users" />
                             <div id="searchResults" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <!-- Resultados da pesquisa aqui -->
                             </div>
                            <button class="search-btn" type="submit">
                                    <img src="\img\vector\magnifying.svg" class="search-btn" />
                            </button>
                            
                             
                        </div>
                    </form>
                </li>

                <li class="nav-item ms-3 d-flex align-self-center">
                        <a class="btn btn-primary nav-btn" asp-controller="Home" asp-action="GameResults">
                        <img src="\img\vector\gamepad.svg" alt="Key Icon" class="nav-vector pe-2"> Games
                    </a>
                </li>

                <li class="nav-item ms-3 d-flex align-self-center">
                    <a class="btn btn-primary nav-btn-2" asp-area="" asp-page="" asp-route-returnUrl="">
                        <img src="\img\vector\bookmark.svg" alt="FilePen Icon" style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(139deg) brightness(108%) contrast(101%);" class="nav-vector pe-2"> MyLibrary
                    </a>
                </li>

                <li class="nav-item ms-3 d-flex align-self-center">
                    <div class="dropdown">
                        <button class="btn btn-info user-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="\img\vector\user.svg" alt="Key Icon" class="nav-vector">
                        </button>
                        <ul class="dropdown-menu">
                            <li><p class="dropdown-item">@User.Identity?.Name</p></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                    <a href="/Identity/Account/Manage/Index" class="btn btn-primary dropdown-item">Profile</a>
                            </li>
                            <li>
                                <form class ="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Context.Request.Headers["Refer"].ToString()">
                                        <button type="submit" class="btn btn-primary dropdown-item">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item ms-3 d-flex align-self-center">
                    <a class="btn btn-primary nav-btn" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Context.Request.Headers["Refer"].ToString()">
                        <img src="\img\vector\faKey.svg" alt="Key Icon" class="nav-vector pe-2"> Sign in
                    </a>
                </li>
                <li class="nav-item ms-3 d-flex align-self-center">
                    <a class="btn btn-primary nav-btn-2" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Context.Request.Headers["Refer"].ToString()">
                        <img src="\img\vector\faFilePen.svg" alt="FilePen Icon" class="nav-vector pe-2"> Sign up
                    </a>
                </li>
            }

            <li class="nav-item ms-3 d-flex align-self-center">
                <select #lang (change)="onSelected(lang.value)" class="form-select nav-form-select">
                        <option selected value="en" data-content="<img src='/img/lang/en.png'></img> en">
                             en
                        </option>
                    <option value="pt">pt</option>
                </select>
            </li>
            </ul>
        </div>
    </div>
</nav>
@section Scripts {
    <script >
        console.log("samuel");

    </script>

}