@model List<GameLog>
<h4 class="text-light">My Top 5</h4>
<div class="game-section-border">
  <div class="game-row">
    @if (Model != null && Model.Count > 0)
    {
      @foreach (GameLog gl in Model)
      {
        <a class="game-button-sm" asp-controller="Games" asp-action="Details" asp-route-id="@gl.IgdbId">
          <img src="@gl.Game.ImageUrl" alt="@gl.Game.Name">
        </a>
      }
    }
    else
    {
      <p class="text-light">There are no games in your Top 5</p>
    }
  </div>
</div>