.stats-dash {
    width: 85%;
    height: 140px;
    background-color: #711C91;
    margin-top: 62.40px;
    float:right;
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
}
.stats-dash-text{ 
    margin-top:30px;
    float:right;
    font-size:130%;
    text-align: right;
}

.dash-card {
    border: 2px solid white;
    border-radius: 15px;
    width: 92.5%;
    height: 200px;
    float:left;
    margin-top: 20px;
    margin-left: 48px;
    text-align:center;
    color: white;
}

.dash-text {
    margin-top: 70px;
    margin-left: 70px;
    float: left;
    font-size: 150%;
}

.left-dash-titles {
    width: 70%;
    float:left;
}

.left-dash {
    display: flex;
    float: left;
    width: 70%;
}