/*-------------------------------------------------- FORGOT PASSWORD -----------------------------------------------*/
.main-section-forgotp {
    padding-top: 2.5%;
    margin: auto;
    margin-top: 4%;
    background-color: #091833;
    width: 900px;
    border-radius: 16px;
    border: 6px solid #711C91;
    padding-bottom: 3.5%;
    text-align: center;
}

.h1-forgotp {
    color: white;
    font-size: 160%;
    margin-bottom: 40px;
    text-align: left;
    margin-left: 5%;
}

.p-forgotp {
    color: white;
    font-size: 100%;
    margin-bottom: 4%;
    font-weight: 300;
    text-align: center;
}

.p-forgotp2 {
    color: white;
    font-size: 100%;
    margin-bottom: 4%;
    font-weight: 300;
    text-align: left;
    margin-left: 10%;
}

.btn-forgotp {
    background-color: #0ABDC6;
    color: #091833;
    font-weight: 700;
    border: 3px #711C91;
    border-radius: 60px;
    font-size: 96%;
    margin-top: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

    .btn-forgotp:active {
        background-color: white;
        color: #091833;
        border: 3px #711C91;
    }


.form-control-forgotp {
    background-color: #133E7C;
    font-size: 100%;
    border: 3px #711C91;
    border-radius: 5px;
    color: #D9D9D9;
    width: 60%;
    padding: 4px;
    padding-left: 10px;
}

.form-floating-forgotp {
    text-align: center;
}


.row-forgotp {
    justify-content: center;
    width: 90%;
    text-align: center;
    margin: auto;
}


.col-sm-5-forgotp {
    text-align: right;
}
