.game-details {
    margin: 0px 71px 0px 71px;
    color: white;
    margin-bottom: 12vh;
}

.game-title {
}

.game-cover{
    max-width: 12rem;
    border: solid white 1px;
}

.game-filters{

}

.game-user-stats{

}

.game-score{
    text-align: right;
}


.game-score .fa-star.checked {
    color: orange;
}

.game-platforms {
    text-align: right;
}

.game-about {
    text-align: justify;
}

.game-captures{
    width: auto;
}

.game-captures .card-group {
    padding: .7rem;
    background-color: #133e7c;
    border-radius: 5px;
}

.game-captures .card, .card-img {
    border-radius: unset;
}

.game-review {
    text-align: right;
}

.review-user-score {
    min-height: 6vh;
    text-align: right;
    justify-content: right;
}

.rate {
    float: right;
    height: 46px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.review-user-publish{

}