/*-------------------------------------------------- NAVBAR -----------------------------------------------*/

.nav-main {
    padding: 1.5%;
    height: 100%;
}

.nav-bg {
    background: fixed;
    background-color: #091833;
}

.nav-logo {
    min-width: 100px;
    width: 7%;
}

.nav-logo2 {
    min-width: 100px;
    width: 5%;
}

.nav-link {
    color: #ffffff
}

.nav-menu {
    align-items: end;
}

.nav-btn {
    background: #0abdc6;
    color: #091833;
    border-radius: 24px;
    width: 138px;
    height: 44px;
    padding: 6px;
    border: none;
    text-align: center;
    font-weight: bolder;
    line-height: 30px;
}

.nav-btn:hover {
    background: #133E7C;
    color: #ffffff;
}

.nav-btn-2 {
    background: #EA00D9;
    color: #ffffff;
    border-radius: 24px;
    width: 138px;
    height: 44px;
    padding: 6px;
    border: none;
    text-align: center;
    font-weight: bolder;
    line-height: 30px;
}

.nav-btn-2:hover {
    background: #711C91;
}

.nav-form-select {
    width: fit-content;
    background-color: #091833;
    color: #ffffff;
    border: none;
    text-align: center;
    height: 100%;
}
