.profile {
  background-color: #091833;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.profile-banner {
  background-color: #133e7c;
  height: 30vh;
  width: 100%;
  padding: 1rem 3rem 1rem 3rem;
}

.profile-avatar {
  width: 12rem !important;
  height: 12rem !important;
  margin: 0 !important;
}

  .profile-avatar img {
    width: 10rem !important;
    height: 10rem !important;
  }

.profile-details {
}

  .profile-details button img {
    filter: invert(10%) sepia(13%) saturate(4570%) hue-rotate(187deg) brightness(95%) contrast(102%);
  }

  .profile-details button:hover img, button:active img {
    filter: invert(97%) sepia(0%) saturate(13%) hue-rotate(278deg) brightness(103%) contrast(105%);
  }

.profile-username {
  margin-right: 1rem;
  padding-top: 0.8vh;
  color: white;
}

.profile-role {
  margin-right: 1rem;
  padding-top: 0.5vh;
  color: #0abdc6 !important;
  font-weight: bold !important;
}

.select-admin {
  width: fit-content !important;
}

  .select-admin button {
    background: #cc3d3d;
    color: #ffffff;
    border-radius: 24px;
    height: 2.75rem;
    padding: 10px;
    border: none;
    text-align: center;
    font-weight: bolder;
  }

  .select-admin .dropdown-menu, .select-admin a {
    background: #cc3d3d !important;
  }

  .select-admin .dropdown-toggle::after {
    display: none;  
  }

  .select-admin a:hover, .select-admin a:active, .select-admin a:focus, .select-admin a:visited {
    background: #591414 !important;
  }

.profile-connects {
  width: auto;
}

.profile-stats {
  text-align: right;
}

.profile-hours {
  text-align: right;
  margin-bottom: 3vh;
}

.profile-games-played {
  text-align: right;
}

.profile-games-backed {
  text-align: right;
}

.profile-about-private {
  margin-top: 8rem;
}

.profile-about {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.profile-bio p {
  text-align: justify;
}

.profile-top5 {
  text-align: right;
  width: 50.7%;
}

  .profile-top5 .game-section-border {
    text-align: justify;
    width: auto;
  }

.profile-lock-msg {
  border: solid #711c91;
  border-radius: 15px;
  width: 50rem;
  height: 10rem;
  height: 10rem;
}

.profile-lock-vector {
  filter: invert(97%) sepia(0%) saturate(13%) hue-rotate(278deg) brightness(103%) contrast(105%);
}

#profile-blur {
  filter: blur(0.5rem);
}


.btn-profile:hover {
  outline: solid #0ABDC6 !important;
}
