@import url(home.css);
@import url(footer.css);
@import url(login.css);
@import url(navbar.css);
@import url(forgotPw.css);
@import url(2fa-login.css);


@media (min-width: 768px) {

}
* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt";
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 16px;
    background-color: #091833;
}

body {
  margin-bottom: 60px;
}