@media (min-width: 768px) {

}
* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt";
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 16px;
    background-color: #091833;
}

body {
  margin-bottom: 60px;
}

/*-------------------------------------------------- NAVBAR -----------------------------------------------*/

.nav-main {
    padding: 1.5%;
    height: 100%;
}

.nav-bg {
    background: fixed;
    background-color: #091833;
}

.nav-logo {
    min-width: 100px;
    width: 7%;
}

.nav-logo2 {
    min-width: 100px;
    width: 5%;
}

.nav-link {
    color: #ffffff
}

.nav-menu {
    align-items: end;
}

.nav-btn {
    background: #0abdc6;
    border-radius: 24px;
    width: 138px;
    height: 44px;
    padding: 6px;
}

.nav-btn-2 {
    background: #EA00D9;
    border-radius: 24px;
    width: 138px;
    height: 44px;
    padding: 6px;
}

.nav-form-select {
    width: fit-content;
    background: #091833;
    color: #ffffff;
    border: none;
}
/*-------------------------------------------------- FOOTER -----------------------------------------------*/

.side-text-footer {
    margin-left: 55%;
    font-size: 100%;
}

.main-text-footer{
    font-size:100%;
    text-decoration: none;
    color: white;
}

.main-text-footer:hover {
    font-size: 100%;
    text-decoration: none;
    color: white;
}

.section{
    text-align:center;
}
/*-------------------------------------------------- LOGIN PAGE -----------------------------------------------*/
.login-body {
    background-color: #091833;
}
.main-section-login {
    padding-top: 3%;
    margin: auto;
    margin-top: 4%;
    background-color: #091833;
    width: 400px;
    border-radius: 16px;
    border: 6px solid #711C91;
    padding-bottom: 3%;
    text-align: center;
    color: white;
}

.h1-login {
    color: white;
    font-size: 170%;
    margin-bottom: 40px;
}

.a-login, .p-login {
    color: white;
    font-size: 88%;
}

.a-login:hover {
    color: white;
    font-size: 88%;
}

.p-login {
    font-weight: 400;
}

.btn-login {
    background-color: #0ABDC6;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 12%;
    padding-right: 12%;
    color: #091833;
    font-weight: 700;
    border: 3px #711C91;
    border-radius: 60px;
    margin-bottom: 40px;
}

.btn-login:active {
     background-color: white;
     color: #091833;
     border: 3px #711C91;
}


.form-control-login {
    background-color: #133E7C;
    font-size: 80%;
    border: 3px #711C91;
    border-radius: 5px;
    padding: 6px;
    width: 260px;
    color: #D9D9D9;
}

.form-control-login:hover, active, focus, current, defined, enabled {
   background-color: #133E7C;
   border: 3px #711C91;
   color: #D9D9D9;
}

::placeholder {
   color: #D9D9D9;
   opacity: 1;
}

.google-auth {
    width: 60%;
    margin: auto;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid white;
    border-radius: 3px;
    margin-bottom: 50px;
    font-size:85%;
}

.row-login {
    justify-content: center;
    padding-bottom: 2%;
    width: 100%;
}

.text-danger-login {
    color: red;
    font-size: 88%;
}

/*-------------------------------------------------- FORGOT PASSWORD -----------------------------------------------*/
.main-section-forgotp {
    padding-top: 2.5%;
    margin: auto;
    margin-top: 4%;
    background-color: #091833;
    width: 900px;
    border-radius: 16px;
    border: 6px solid #711C91;
    padding-bottom: 3.5%;
    text-align: center;
}

.h1-forgotp {
    color: white;
    font-size: 160%;
    margin-bottom: 40px;
    text-align: left;
    margin-left: 5%;
}

.p-forgotp {
    color: white;
    font-size: 100%;
    margin-bottom: 4%;
    font-weight: 300;
    text-align: center;
}

.btn-forgotp {
    background-color: #0ABDC6;
    color: #091833;
    font-weight: 700;
    border: 3px #711C91;
    border-radius: 60px;
    font-size: 96%;
    margin-top: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.btn-forgotp:active {
    background-color: white;
    color: #091833;
    border: 3px #711C91;
}
/*-------------------------------------------------- HOME -----------------------------------------------*/

.bg-image-full {
    background-image: url(../img/home_cover.png);
    height: 70vh;
}


.form-control-forgotp {
    background-color: #133E7C;
    font-size: 100%;
    border: 3px #711C91;
    border-radius: 5px;
    color: #D9D9D9;
    width: 60%;
    padding: 4px;
    padding-left:10px;
    
}

.form-floating-forgotp{
    text-align: center;
}


.row-forgotp {
    justify-content: center;
    width: 90%;
    text-align: center;
    margin: auto;
}


.col-sm-5-forgotp{
    text-align:right;
}
